@import url(http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/themes/ui-darkness/jquery-ui.css);
@import url(http://jquery-loadmask.googlecode.com/svn/trunk/src/jquery.loadmask.css);
.loadmask {
    background-color: #222;
}
.loadmask-msg {
    border:none;
    background: #222;
    padding:2px;
    margin: auto;
    text-align: center;
}
.loadmask-msg div {
    padding:5px;
    background: #444 url('/img/loading.gif') no-repeat 5px 5px;
    line-height: 16px;
    height: 32px;
    width: 32px;
	border:none;
    color:#222;
    font:normal 11px tahoma, arial, helvetica, sans-serif;
    cursor:wait;
}
.ui-progressbar{
    height: 16px;
    width: 200px;
}
body {
	background-color:#000000;
	color:#ffffff;
	font: 14px Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}
#gallery{
    padding: 0px;
}
#gallery div, #gallery ul{
    text-align: left;
}
#breadcrumb {
    font: 14px Arial, Helvetica, sans-serif;
    background-image:url('bc_bg.png'); 
    background-repeat:repeat-x;
    height:30px;
    line-height:30px;
    color:#9b9b9b;
    border:solid 1px #cacaca;
    width:100%;
    overflow:hidden;
    padding:0px;
	position:fixed;
	z-index:999;
	top:0px;
	left:0px;
    font-weight: bold;
}
#searchForm input{margin-top: 4px;}
.link{
	cursor:pointer;
}

.link:hover{
	color:#35acc5;
}

a {color:#67C8FF;font-size:14px;}
a.ext {padding-left:14px;background:url("/img/ext.png") no-repeat;}
a img{border-style: none;}

#albumList {
    clear:left;
    margin-top:35px;
}
#albumList img.poster{margin: 7px 27px 10px 27px;}
#albumList img.poster:hover{margin: 0px 20px 10px 20px;}

#bcelement img{
	height:30px;
	width:24px;
}

#bcelement {
    list-style-type:none;
    float:left;
    padding-left:10px;
}

#bcelement a {
    height:30px;
    display:block;
    background-image:url('bc_separator.png'); 
    background-repeat:no-repeat; 
    background-position:right;
    padding-right: 15px;
    text-decoration: none;
    color:#777;
}

.home {
    border: none;
	vertical-align: middle;
}

#breadcrumb a:hover {
    color:#35acc5;
}

#footer {
	font: 14px Arial, Helvetica, sans-serif;
    background-image:url('bc_bg.png'); 
    background-repeat:repeat-x;
	margin-left:auto;
	margin-right:auto;
    height:30px;
    line-height:30px;
    color:#9b9b9b;
    border:solid 1px #cacaca;
    width:100%;
    overflow:hidden;
    bottom:0px;
	left:0px;
	position:fixed;
	z-index:999;
}

#gallery li>div{
    margin-left:27px;
    margin-right:55px;
}
.galleryTitle {
	font-size: 16px;
}

.galleryArtist {
	font-size: 14px;
	font-style: italic;
}

#albums, #gallery {
	width:90%;
	position:relative;
	margin-top:40px;
	margin-bottom:40px;
	max-width:1083px;
	min-width:640px;
}

.items {
	margin-right: 54px;
    margin-bottom: 54px;
	height: 300px;
	float:left;
    text-align: left;
}

img.poster { 
    margin: 27px 27px 10px 27px;
	max-width: 200px;
	max-height: 220px;
    min-width: 175px;
    min-height: 175px;
    display: block;
	vertical-align: text-bottom;
    background: url("/img/loading.png") no-repeat center center;
}

img.poster:hover { 
    margin: 20px 20px 3px 20px;
	max-width: 200px;
	border:7px solid #67C8FF;
}

.title {
	margin-left:27px;
}

#gallery li {
        display: inline-block;
        list-style: none;
        width: 250px;
        float: left;
}

#artistGallery li {
        display: inline-block;
        list-style: none;
        width: 175px;
        float: left;
		position:relative;
		text-align: left;
}

#albumGallery li {
        display: inline-block;
        list-style: none;
        width: 175px;
        float: left;
        position:relative;
		text-align: left;
}
#albumInfo div {
	margin-left:27px;
}
#downloadAlbum div {
	margin-left:0px;
}
.albumTitle {
	font-size: 24px;
}

.albumArtist {
	font-size: 18px;
	font-style: italic;
}

#albumTracks {
    clear:left;
	margin-top:35px;
    text-align: left;
    list-style: none;
}

.tracks {
	margin:10px 27px 10px 27px;
	overflow:hidden;
	clear: both;
}

.artistTitle {
	margin-left:27px;
	font-size: 24px;
}

#heading {
	margin-top:40px;
    text-align: left;
    height: 240px;
    padding-top:40px;
    padding-left:30px;
}

#heading.img {
	float:left;
	margin-right:20px;
}

#albumInfo {
	float:left;
}

#albumArt {
	float: left;
}

#artistHeading {
	margin-left:40px;
	margin-top:20px;
	width:100%;
    height: 240px;
}

#artistImage{
	max-width: 200px;
	max-height: 200px;
}
div.image{
    width: 200px;
    height: 200px;
    float: left;
    text-align: center;
    margin: auto;
}
#artistInfo {
	float: left;
}

#searchHeading{
	font-size: 28px;
}

#artistGallery{
 	width:90%;
	margin-right:65px;
}

#albumGallery{
	width:90%;
	margin-right:65px;
}

.track {
	overflow:hidden;
	clear: both;
	width:100%;
    border-bottom: 1px dotted #999;
}

.track span{
    padding-bottom: 1px;
}

.track span.title {
    height:30px;
    text-decoration: none;
}

.optional {
	margin-top: 10px;
	padding:10px;
	height: 120px;
}

#downloadAlbum {
	margin-top:15px;
}
#downloadAlbum div{
	width: 200px;
}
.download {
	float:none;
	font-size: 16px;
}

.downloadType{
	float:none;
	font-size: 14px;
    margin-bottom: 2px;
}
button {
  background: #000;
  border: 0 none;
  color: #FFF;
  text-decoration: underline;
  display: block;
  text-align: left;
  cursor: pointer;
}
#albums button{
  padding-left: 16px;
  background:url("/img/dl_sm.png") no-repeat left center;
}
.time, .mainDL {
	float:right;
}
.mainDL {
    margin-right: 27px;
}

#footer a {
	height:30px;
    background-image:url('separator.png'); 
    background-repeat:repeat-y; 
    background-position:right;
    padding-right: 15px;
	padding-left: 15px;
    text-decoration: none;
    color:#454545;
}

.error {
	width:75%;
	background-color:#ecebea;
	border:10px solid #ff6666;
	padding:15px;
	color:#000000;
	margin-top:100px;
}

.error img {
	height: 200px;
	float: left;
	padding-right:20px;
}

.center {
	margin-left:auto;
	margin-right:auto;
    text-align:center;
}

.right {
	position: absolute;
	right: 0;
	margin-right:10px;
}

.left {
	position: absolute;
	left: 0;
	margin-left:10px;
}